anyio 
appdirs==1.4.4
argon2-cffi 
argon2-cffi-bindings 
arrow 
asttokens 
async-lru 
attrs 
Babel 
backcall 
beautifulsoup4 
bleach 
Brotli 
cached-property 
certifi 
cffi 
charset-normalizer==3.3.2
click==8.1.7
clip @ git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33
comm 
contourpy==1.1.1
cycler==0.12.1
debugpy 
decorator 
defusedxml 
docker-pycreds==0.4.0
entrypoints 
exceptiongroup 
executing 
fastjsonschema
filelock 
fonttools==4.51.0
fqdn 
fsspec==2024.3.1
ftfy==6.2.0
gitdb==4.0.11
GitPython==3.1.43
gmpy2 
h11 
h2 
hpack==4.0.0
httpcore 
httpx 
huggingface-hub==0.22.2
hyperframe 
idna 
importlib_metadata 
importlib_resources 
ipykernel 
ipython 
isoduration 
jedi 
Jinja2 
joblib==1.4.0
json5 
jsonpointer 
jsonschema 
jsonschema-specifications
jupyter-events 
jupyter-lsp 
jupyter_client 
jupyter_core 
jupyter_server 
jupyter_server_terminals 
jupyterlab 
jupyterlab_pygments 
jupyterlab_server 
kiwisolver==1.4.5
MarkupSafe 
matplotlib==3.6.3
matplotlib-inline 
mistune 
mkl-fft 
mkl-random 
mkl-service==2.4.0
mpmath 
nbclient 
nbconvert 
nbformat 
nest_asyncio 
networkx 
notebook_shim 
numpy 
overrides 
packaging 
pandas==2.0.3
pandocfilters 
parso 
pexpect 
pickleshare 
Pillow==9.3.0
pkgutil_resolve_name 
platformdirs 
prettytable==3.9.0
prometheus_client 
prompt-toolkit 
protobuf==4.25.3
psutil 
ptyprocess
pure-eval 
pycparser 
Pygments 
pyparsing==3.1.2
PySocks 
python-dateutil 
python-json-logger 
pytz 
PyYAML 
pyzmq 
referencing 
regex==2024.4.16
requests 
rfc3339-validator 
rfc3986-validator 
rpds-py 
safetensors==0.4.3
scikit-learn==1.3.2
scipy==1.10.1
Send2Trash 
sentry-sdk==1.45.0
setproctitle==1.3.3
six 
smmap==5.0.1
sniffio 
soupsieve 
stack-data 
sympy 
terminado 
threadpoolctl==3.4.0
timm==0.9.12
tinycss2 
tomli 
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
tornado 
tqdm==4.66.1
traitlets 
triton==2.2.0
types-python-dateutil 
typing-utils 
typing_extensions 
tzdata==2024.1
uri-template
urllib3 
wandb==0.16.6
wcwidth 
webcolors 
webencodings 
websocket-client 
zipp 
